/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $bariol;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $gray;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home { 
	.index-row {
		flex-direction: row;
	}
}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	// &:hover, &:focus {
	// 	color: $link-hover;
	// }

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	border-bottom: 1px solid #efefef;
	height: 163px;
	.no-home & {
		height: 80px;
		display: list-item;
	}
	nav {
		display: flex;
		justify-content: space-around;
		height: 73px;
		width: 50%;
		margin: 0 auto;
		align-items: center;
		.no-home & {
			display: inline-flex;
			justify-content: space-between;
		    position: relative;
		    float: right;
		    height: 100%;
		}
		span {
			text-transform: uppercase;
			color: #555555;
			font-size: 16px;
			letter-spacing: 1.1px;
			cursor: pointer;
			&.current {
			    box-shadow: 0px -5px 0 #0475cc;
			    height: 30px;
			    line-height: 70px;
			    top: -19px;
			    position: relative;
			}
		}
		a {
			text-decoration: none;
			color: inherit;
			transition: color 0.3s ease;
			&:hover{
				color: darken(#555, 50%);
			}
		}
		img {
			opacity: 0.6;
		    position: relative;
		    top: 4px;
		    transform: scale(1.3);
		    transition: opacity 0.3s ease;
		    &:hover {
		    	opacity: 0.8;
		    }
		}
		input {
			display: none;
			&.visible {
				background: transparent;
			    border-bottom: 1px dotted #555;
			    height: 30px;
			    width: 150px;
			    display: inline;
			    position: relative;
			    top: 5px;
			    left: 5px;
			    padding: 0;
			}
		}
		.search-open-dri {
			display: none;
			&.visible {
				display: inline-block;
				height: 30px;
				width: 30px;
				background-color: #fff;
			    -webkit-mask:  url("../images/search.svg") no-repeat 50% 50%;
			    mask: url("../images/search.svg") no-repeat 50% 50%;
			}	
		}
		.search-container {
		    display: inline-flex;
		    position: relative;
		    background-color: #1477c9;
		    top: 9px;
		    border-radius: 4px;
		    left: 4px;
		}
	}
	.hr {
		box-shadow: 0px 1px #efefef;
	    display: block;
	    height: 1px;
	    width: 100%;
	    position: absolute;
	    left: 0;
	    .no-home & {
	    	display: none;
	    }
	}
	#logo {
		margin: 0.4em 0;
		.no-home & {
			display: inline;
		}
		a {
			color: $white;
		}
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/
#map-fake {
	height: 656px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    transition: background-color 0.2s ease;
    &:after {
		content: "";
		background: url(../images/bg-home-header.jpg);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;   
		background-size: cover;
	}
    .what-list {
    	display: flex;
	    flex-direction: column;
	    align-items: center;
	    height: 457px;
	    justify-content: center;
	    background: rgba(14, 95, 162, 0.3);
	    color: #fff;
	    width: 70%;
	    padding: 0 10%;
	    text-align: center;
	    h2 {
	    	font-size: 49px;
	    	line-height: 40px;
	    	text-transform: uppercase;
	    }
	    h3 {
	    	font-size: 22px;
	    	line-height: 25px;
	    	letter-spacing: 0.6px;
	    }
	    > nav {
		    display: flex;
		    justify-content: space-around;
		    width: 100%;
		    span {
		    	width: 110px;
			    text-transform: uppercase;
			    font-size: 17px;
			    letter-spacing: 0.7px;
			    i {
					height: 100px;
				    background-size: 50px;
				    width: 100px;
				    border-radius: 100%;
				    background-repeat: no-repeat;
				    background-color: white;
				    border: 0;
				    background-position: 50%, 50%;
				    display: block;
				    margin: 0px auto 10px;
				    $class-slug: img-pile !default;
					@for $i from 1 through 4 {
					  &.#{$class-slug}-#{$i} {
					    background-image: url("../images/pile-"+ $i +".png")
					  }
					}
			    }
		    }
	    }
    }
}
.what-explore {
	background: white;
    font-size: 20px;
    letter-spacing: 0.6px;
    color: #1477c9;
    position: relative;
    top: -24px;
    height: 48px;
    display: flex;
    width: 220px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    a {
    	text-decoration: none;
    	color: inherit;
    }
}
#explore-more {
	height: 360px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: rgba(255,255,255,0.2);
    transition: background-color 0.2s ease;
    &:hover {
    	background-color: rgba(255,255,255,0.1);
    }
    &:after {
		content: "";
		background: url(../images/map-resource.jpg);
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;   
		background-size: cover;
	}
	section {
		width: 70%;
	    height: 60%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    background: rgba(#1477c9, 0.8);
	    color: white;
	    text-align: center;
	 	.what-explore {
	 		top: 34px;
	 	}
	 	h2 {
	    	font-size: 49px;
	    	line-height: 40px;
	    	text-transform: uppercase;
	    }
	    h3 {
	    	font-size: 22px;
	    	line-height: 25px;
	    	letter-spacing: 0.6px;
	    }
	}
}
.index-row {
	display: flex;
	flex-direction: column;
    margin: 130px 0;
    &.more-content {
    	display: block;
    	.row-container {
    		justify-content: space-between;
    		article {#
    			margin: 10px;
    		}
    	}
    }
    .row-container {
    	display: flex;
    	flex-wrap: wrap;
    	> a {
    		text-decoration: none;
    	}
    }
    &.last-resources {
    	margin: -120px 0 120px 0;
    	flex-direction: row;
	    justify-content: space-between;
	    align-items: stretch;
	    width: 100%;
	    a {
	    	text-decoration: none;
	    }
    }
    article {
    	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    }
    article,
    .card-third {
    	max-width: 315px;
	    margin: 0 15px 50px;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 350px;
	    position: relative;
	    &.resource-cont {
	    	&:after {
				content: "";
				background: url(../images/InaSafe-video.jpg);
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				position: absolute;
				z-index: -1;   
				background-size: cover;
			}
			&.--scnd-img:after{
				background-image: url(../images/gfdrr-2012.jpg);
			}
			position: relative;
		    max-width: 675px;
		    height: 345px;
		    width: 675px;
		    margin: 0;
		    justify-content: center;
		    flex-direction: row;
		    align-items: center;
		    background-color: rgba(0,0,0,0.2);
		    transition: background-color 0.2s ease;
		    &:hover {
		    	background-color: rgba(0,0,0,0.1);
		    }
		    section {
		    	color: $white;
		    	text-align: center;
				text-transform: uppercase;
				h3 {
					font-size: 32px;
					margin: 10px 0;
				}
				hr {
					width: 40%;
				}
		    }
	    }
    }
    .resource-list {
    	margin: 0px 15px;
	    width: 315px;
	    background: #fff;
	    box-shadow: 0 0 7px rgba(0,0,0,0.20);
	    li {
    	    margin: 0 10px 0px;
			padding: 5px;
			background: inherit;
			transition: background 0.3s ease;
			display: inline-block;
    		width: 95%;
    		&:hover {
    			background: darken($white, 3%);
    		}
		    div {
		    	margin: 5px 0;
		    	display: flex;
	    		justify-content: space-between;
	    		font-size: 15px;
	    		.title {
	    			color: #1477c9;
	    			text-transform: capitalize;
	    			a {
	    				color: inherit;
	    				text-decoration: none;
	    			}
	    		}
	    		.format {
	    			color: #555555;
	    			text-transform: uppercase;
	    		}
	    		.name,
	    		.size {
	    			font-size: 13px;
	    			color: rgba(#555555, 0.5);
	    			text-transform: uppercase;
	    		}
		    }
	    }
    }
    .card-third {
    	h3 {
    		font-size: 48px;
		    text-transform: capitalize;
		    color: #555;
		    margin: 25px 0;
    	}
    	p {
			margin: 0;
		    color: #555;
		    font-size: 15px;
		    line-height: 23px;    		
    	}
    	a {
    		text-decoration: none;
    		cursor: default;
    	}
    	span {
    		cursor: pointer;
    		width: 200px;
		    background: #db0033;
		    height: 50px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-transform: uppercase;
		    color: #fff;
		    font-size: 15px;
		    font-weight: bold;
		    margin-top: 20px;
		    transition: background 0.3s ease;
    		&:hover {
				background: lighten(#db0033,10%)
    		}
    	}
	    .twitter {
	    	overflow: hidden;
	    	padding: 1rem;
	    	background: white;
	    	box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
			display: table-row;
		    position: relative;
		    margin-top: 20px;
	    	> span {
    		    background-color: #1477c9;
			    width: 60px;
			    height: 60px;
			    position: absolute;
			    top: -20px;
			    left: 10px;
			    .twt-img {
				    background-color: white;
				    width: 60px;
				    height: 60px;
				    transform: scale(0.6);
				    display: block;
				    -webkit-mask:  url(../images/twitter-logo.svg) no-repeat 50% 50%;
				    mask: url(../images/twitter-logo.svg) no-repeat 50% 50%;
			    }
	    	}
		    > h3 {
		    	text-align: right;
		    	text-transform: uppercase;
		    	font-size: 13px;
		    	line-height: 23px;
		    	color: rgba(#555,0.5);
		    	margin: 10px 5px;
		    }
	    }
    }
}
#content {
	// margin-top: 1.5em;
}

.hentry {
	background-color: $white;
	border-radius: 3px;
	margin-bottom: 1.5em;
	border: 1px solid $border-color;
	> .img {
		height: 100%;
	    width: 100%;
	    display: block;
	    background-position: 50% 50%;
    	background-size: cover;
	}
	header {
		border-bottom: 1px solid $light-gray;
		background: $text-bkg-blue;
		width: 280px;
		margin: 0 auto -20px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(0, -33%);
		transition: background 0.3s ease;
		&:hover {
			background: lighten($text-bkg-blue,10%);
		}
		a {
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
		    height: 100%;
		    display: inline-block;
			font-family: Bariol_Bold;
	    	padding: 15px 0;

		}
	}

	footer {
		margin: 15px;
		border-top: 1px solid $light-gray;

		p {
			margin: 0;
			display: flex;
    		justify-content: space-between;
		}
	}
	&.--odri-post {
		padding: 2.5rem;
		border: 0;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
		&.category-news {
			display: inline-block;
			width: 70%;
		}
		h1 {
			color: #1477c9;
			font-size: 48px;
			line-height: 43px;
		}
		.byline {
			text-transform: uppercase;
		    font-style: normal;
		    color: rgba(#555,0.5);
		    font-size: 13px;
		    margin: 25px 0 15px;
		}
		.entry-content {
			padding: 0;
			p {
				margin: 0 0 1.5em;
			    display: inline;
			    max-width: none;
			    height: auto;
			    font-size: 17px;
			    line-height: 28px;
			    color: #555;
			    font-feature-settings: "liga" 0;
			}
		}
	}
} /* end .hentry */

.single-title,
.page-title,
.entry-title {
	margin: 0;
	width: 100%;
	height: 100%;
}

.single-title {}

.page-title {}

.entry-title {}

.archive-title { color: #1477c9}

/* want to style individual post classes? Booya! */
.post-id {}         /* post by id (i.e. post-3) */
.post {}            /* general post style */
.page {}            /* general article on a page style */
.attachment {}      /* general style on an attatchment */
.sticky {}          /* sticky post style */
.hentry {}          /* hentry class */
.category-slug {}   /* style by category (i.e. category-videos) */
.tag-slug {}        /* style by tag (i.e. tag-news) */

/* post meta */
.byline {
	color: $meta-gray;
	font-style: italic;
	margin: 0;

	time {}
}

/* entry content */
.entry-content {
	padding: 15px;

	p {
		margin: 0 0 1.5em;
		display: block;
	    display: -webkit-box; // fallback for non-webkit
	    max-width: 400px;
	    height: calc(148 * 1.2 * 4px); // fallback for non-webkit
	    font-size: 15px;
	    line-height: 1.2;
	    -webkit-line-clamp: 4;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    font-feature-settings: "liga" 0;
	}


	ul, ol, table, dl {}

	ul, ol {

		li {}

	}

	ul {

		li {}

	}

	ol {

		li {}

	}

	table {
		width: 100%;
		border: 1px solid $gray;
		margin-bottom: 1.5em;

		caption {
			margin: 0 0 7px;
			font-size: 0.75em;
			color: $meta-gray;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	tr {
		border-bottom: 1px solid $gray;

		&:nth-child(even) {
			background-color: $light-gray;
		}
	}

	td {
		padding: 7px;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	th {
		background-color: $light-gray;
		border-bottom: 1px solid $gray;
		border-right: 1px solid $gray;

		&:last-child {
			border-right: 0;
		}
	}

	blockquote {
		margin: 0 0 1.5em 0.75em;
		padding: 0 0 0 0.75em;
		border-left: 3px solid $blue;
		font-style: italic;
		color: $meta-gray;

		&:before {}

	}

	dl {}

	dt {}

	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	/*
	image alignment on a screen this size may be
	a bit difficult. It's set to start aligning
	and floating images at the next breakpoint,
	but it's up to you. Feel free to change it up.
	*/
	.alignleft, img.alignleft {}
	.alignright, img.alignright {}
	.aligncenter, img.aligncenter {}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: $black;
		color: $light-gray;
		font-size: 0.9em;
		padding: 1.5em;
		margin: 0 0 1.5em;
		border-radius: 3px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}

} /* end .wp-caption */

/* image gallery styles */
.gallery {

	dl {

		a {}

		img {}

	}

	dt {}

	dd {}

} /* end .gallery */

/* gallery caption styles */
.gallery-caption {}

.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

// the tag output
.tags {
margin: 0;
}
#pic-banner,
.cdbmap {
	height: 245px;
    width: 100%;
    background-size: cover;
    display: block;
    position: relative;
    background-position: 70% 50%;
    margin: 0 0 -70px;
    z-index: 0;
}
.cdbmap {
	display: none;
}
.archive,
.page {
	.cdbmap {
		display: block;
		height: 600px;
		margin: 0 0 90px;
	}
	.corner-map {
	    height: 460px;
	    width: 650px;
	    z-index: -1;
	    position: absolute;
	    background-image: url(../images/bg-mapamundi.png);
	    background-position: 50% 50%;
	    background-size: cover;
	    right: 0px;
	    top: 20px;
	    &.about {
	    	    top: 730px;
			    height: 890px;
			    right: 0px;
			    background-size: cover;
			    background-repeat: no-repeat;
			    width: 800px;
			    background-position: 0;
	    }
	}
	.about-content {
		.card-third {
			max-width: none;
			margin: 0 15px;
			p {
		 -webkit-columns:    340px;
   			-moz-columns: 	 340px;
        		 columns: 	 340px;
			}
			ol {
				list-style: decimal;
			    display: flex;
			    flex-direction: column;
			    flex-wrap: wrap;
			    height: 320px;
    			width: 100%;
			    li {
			    	width: 50%;
			    }
			    h4 {
			    	margin: 5px 0;
				    color: #555;
				    font-weight: 600;
			    }
			}
		}
		h3 {
			color: #1477c9;
		}
	}
	#contact {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		.index-row {
			margin: 0;
		}
		.contact-form {
			background: $white;
			box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
			padding: 20px;
			label,
			input,
			textarea {
				display: inline;
				font-size: 15px;
				box-shadow: 0px 1px 0 #eee;
				background: transparent;
			}
			label {
				text-transform: uppercase;
				width: 200px;
			    float: left;
			    text-align: right;
			    padding: 13px 15px 0px 0;
			    box-shadow: 0 0 0 transparent;
			}
			textarea {
				width: 60%;
				height: 150px;
				box-shadow: 0px 1px 4px #eee;
			}
			.contact-submit {
				text-align: right;
				.pushbutton-wide {
					border: 0;
    				color: rgba(85,85,85,0.3);
				}
			}
		}
	}
	#more-content,
	#members,
	#partners {
		h3 {
			color: #1477c9;
    		width: 150%;
		}
	}
	#members,
	#partners {
		.card-third {
			margin: 0;
		}
		.-m-team-member,
		.-m-partner {
			display: flex;
			img {
				height: 213px;
			    width: 180px;
			    background: lightgrey;
			}
			.-m-info {
				display: flex;
				flex-direction: column;
				width: 70%;
    			margin: 0 0 0 40px;
    			.name {
    				font-weight: 600;
				    font-size: 20px;
				    line-height: 28px;
    			}
    			.title {
    				font-style: italic;
    			}
			}
		}
		.-m-partner {
			flex-direction: column;
			width: 49%;
			img {
				height: 155px;
    			width: 315px;
			}
			.-m-info {
				margin: 0;
				width: 90%;
			}
		}
	}
	.-m-disclaimer {
		h3 {
			color: #1477c9;
		}
	}
	.p-info {
		display: flex;
		clear: both;
		justify-content: center;
		position: relative;
		margin: 0 0 45px;
		&.double {
			justify-content: flex-start;
			p {
				width: calc(100%/3 *2); // 66%
			}
		}
		h4 {
			position: absolute;
			left: 0;
			margin: 0;
			color: #1477c9;
			text-transform: uppercase;
			font-size: 17px;
			width: 315px;
		}
		p {
			margin: 0;
			line-height: 23px;
			font-size: 15px;
			width: 315px;
		}
	}
	.img-bridge {
		width: 100%;
		height: 280px;
		position: relative;
		&:after {
			content: "";
			background: url(../images/bridge.jpg);
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;   
			background-size: cover;
			background-position: 50% 50%;
		}
		background-color: rgba(0,0,0,0.2);
	    transition: background-color 0.2s ease;
	    &:hover {
	    	background-color: rgba(0,0,0,0.1);
	    }
	}
	.card-third {
		height: auto;
	}
	.index-row {
		margin: 60px 0;
		&.contents-image {
			margin: 0;
		}
		.resource-list {
			width: 100%;
		 -webkit-columns:    300px;
   			-moz-columns: 	 300px;
        		 columns: 	 300px;
		}
		.row-container {
			width: 100%;
		    flex-wrap: wrap;
		    justify-content: space-between;
		}
		.resource-cont {
			width: 485px;
			height: 270px;
		}
	}
}
.category-news #main,
.post-type-archive-resource #main {
	margin: 50px 0 0 0 ;
	>h1,
	>h3{
		max-width: 35%;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	>h3 {
		margin: 0 0 70px;
	}
	.row-container article {
		max-width: 490px;
		width: 490px;
	}
}
#list-content {
	margin: 0;
}
.-md-post {
	position: relative;
}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: #1477c9;

      &:hover, &:focus {
      	background-color: $white;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	display: inline-block;
    float: right;
    margin-top: 4rem;
    a {
    	color: #1477c9;
    	text-decoration: none;
    }
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	height: 270px;
	display: flex;
	flex-direction: column;
	align-items: space-between;

	.-ft-content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 2.5rem 0;
		.-ft-coorporate,
		nav {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.-i-link {
				margin: 0.4rem 0;
			    text-decoration: none;
			    text-transform: uppercase;
			    text-align: right;
			    color: rgba(120,120,120,1);
			    transition: color 0.3s ease;
			    &:hover {
				    color: lighten(rgba(120,120,120,1), 50%);
			    }
			}
		}
		img {
			vertical-align: middle;
			position: relative;
			left: 8px;
		}
		.-ft-newsletter {
			font-size: 13px;
		    display: flex;
		    align-items: flex-start;
		    justify-content: center;
		    flex-direction: column;
		}
		form {
			border: 1px solid #979797;
		    width: 300px;
		    display: flex;
		    margin-top: 10px;
		    justify-content: space-between;
		    position: relative;
		}
		input {
		    width: 220px;
		    line-height: 13px;
		    height: 22px;
		    background: transparent;
		    position: relative;
		    left: -7px;
		    top: 8px;
		    display: inline;
		}
		.response {
		    position: absolute;
		    top: -2px;
		    left: 310px;
		    width: 500px;
		}
		#mc-embedded-subscribe {
		    display: inline;
		    background-color: #979797;
		    width: 90px;
		    position: static;
		    color: #1B1B1B;
		    border: none;
		    margin: 0;
		    height: 36px;
		    top: 0;
		    right: -4px;
		    text-transform: uppercase;
		    font-weight: bold;
		    transition: background-color 0.3s ease;
		    &:hover {
		    	background-color: #fff;
		    }
		}
	}
	
	.copyright {
		.hr {
			box-shadow: 0px 1px rgba(250,250,250,0.20);
		    display: block;
		    height: 1px;
		    width: 100%;
		    position: absolute;
		    left: 0;
		}
	}
	.-ft-legal {
		display: flex;
	    justify-content: space-between;
	    width: 40%;
	    height: 40px;
	    align-items: center;
	    a,span {
    		color: rgba(120,120,120,1);
    		text-decoration: none;
    	}
		 a:hover {
		    color: lighten(rgba(120,120,120,1), 50%);
	    }
	}
}
#post-not-found,
.no-results {
	background: transparent;
	border: none;
	h1 {
		color: #1477c9;
	}
	input {
		border-bottom: 1px solid #979797;
    	display: inline;
	}
	.home-404{
		width: 170px;
	    background: #db0033;
	    color: white;
	    height: 50px;
	    line-height: 50px;
	    text-align: center;
	    text-transform: uppercase;
	    display: block;
    	text-decoration: none;
    	cursor: pointer;
    	margin: 0 0 150px;
	}
	form {
		#searchsubmit,label {
			display: none;
		}
	}
}
#blue-bar-pick-pillar {
	height: 43px;
    border-left: 1px solid rgba(250,250,250,0.2);
}
.blue-bar-top {
	background-color: #1477c9;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
    height: 43px;
    display: flex;
	align-items: center;
	position: relative;
	margin-bottom: -43px;
	z-index: 1;
	&.fixed {
		position: fixed;
	    top: 0;
	    width: 100%;
	    opacity: 0.97;
	}
	.wrapper {
		color: white;
	    text-transform: uppercase;
	    font-size: 15px;
	    font-weight: bold;
	    display: flex;
	    justify-content: space-between;
	    span {
			border-radius: 5px;
			padding: 3px 10px;
	    	cursor: pointer;
	    	background-color: inherit;
	    	transition: background-color 0.35s ease;
	    	&.current {
	    		background-color: white;
			    color: #1477c9;
			    &:hover {
		    		background-color: white;
		    	}
		    	i {
		    		background-color: #1477c9;
		    	}
	    	}
	    	&:hover {
	    		background-color: rgba(255,255,255,0.2);
	    	}
	    	a {
	    		text-decoration: none;
	    		color: currentColor;
	    		i {
				    height: 17px;
				    width: 19px;
				    background-repeat: no-repeat;
				    border: 0;
				    background-position: 50%, 50%;
				    display: inline-block;
				    margin: 0px 5px 0 0px;
				    position: relative;
				    top: 3px;
				    background-color: white;
				    $class-slug: img-pile !default;
					@for $i from 1 through 4 {
					  &.#{$class-slug}-#{$i} {
					    -webkit-mask:  url("../images/white-pile-"+ $i +".svg");
					    mask: url("../images/white-pile-"+ $i +".svg");
					  }
					}
					&.img-pile-1 {
						height: 15px;
						width: 13px;
						top: 2px;
					}
			    }
	    	}
	    	&.title {
	    		&.current,
	    		&:hover {
	    			background-color: #1477c9;
	    			color: white;
	    		}
	    	}
	    }
	    &.filters {
	    	span {
	    		position: relative;
	    		top: 10px;
	    	}
	    }
	    .region-filter {
	    	display: none;
	    	position: absolute;
    		background-color: rgba(#005ca3,0.85);
    		top: 26px;
	    	input {
	    		background-color: rgba(#000,0.2);
	    		margin: 0;
	    		color: white;
	    	}
	    	li {
			    max-width: 180px;
			    padding: 8px;
			    cursor: pointer;
			    &:hover,
			    &.selected {
			    	background-color: rgba(#fff, 0.2);
			    }
			    &.clear-map {
			    	text-align: center;
			    }
   	    	}
	    }
	}
}
.container-region-filter {
	position: relative;
}
#toggle-filter-region {
	display: block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    left: 0px;
    height: 43px;
    line-height: 33px;
    top: 0px;
    border-radius: 0;
    border-left: 1px solid rgba(250,250,250,0.2);
    border-right: 1px solid rgba(250,250,250,0.2);
    text-align: center;
	&:before {
	    content: '';
	    position: absolute;
	    background-color: white;
	    width: 25px;
	    height: 10px;
	    -webkit-mask: url(../images/dropdown.svg) no-repeat 50% 50%;
	    mask: url(../images/dropdown.svg) no-repeat 50% 50%;
	    top: 15px;
	    left: 0;
	}
	&.current:before {
		display: none;
	}
}
.leaflet-top .leaflet-control {margin-top: 60px !important}
div.cartodb-popup h1 {
	font-size: 15px !important;
    text-transform: uppercase !important;
    color: #0475cc !important;
    margin: 0 0 15px 0 !important;
}
div.cartodb-popup p.meta {
	font-size: 11px;
	color: rgba(#555,0.5);
	text-align: justify;
}
div.cartodb-popup .cartodb-popup-close-button {
	box-shadow: none !important;
    top: 0px !important;
    right: 0px !important;
    transform: scale(1.5) !important;
    background-color: transparent !important;
}
.popup-link-project {
	background-color: #1477c9;
    display: block;
	a {
		color: white !important;
	    text-decoration: none;
	    height: 40px;
	    display: block;
	    line-height: 40px;
	    text-align: center;
	    font-weight: bold;
	    font-size: 15px;
	    margin: 15px 0 0 0;
	}
}
.amount-of-posts {
	font-weight: bold;
	color: #1477c9;
	font-size: 15px;
	top: -5px !important;
    left: 2px !important;
}